{% extends 'home/basealt.html' %}

{% block content %}

{% if category.services.all %}
    <h2>{{category.name}} Services</h2>
    <table class="table table-bordered table-condensed table-hover">
        <thead>
          <tr>
            <th>Service</th>
          </tr>
        </thead>
        <tbody>
            {% for service in category.services.all|dictsort:"name" %}
            <tr class="table-row" data-href="{% url 'form_1'%}?{{service.name}}" >
                <td>{{service.name}}</td>
            </tr>                  
            {% endfor %}
        </tbody>
    </table>
{% else %}
  <p>There are no services for this category.</p>
{% endif %}
{% endblock content %}
   
        