{% extends 'home/basealt.html' %}
{% block content %}

{% if category_list %}
    
    <div class="row">
    {% for category in category_list|dictsort:"name" %}
          <div class="col-md-4">
            <h2>{{category.name}}</h2>
            <p>My category </p>
            <p><a class="btn btn-secondary" href="{{ category.get_absolute_url }}" role="button">View Category »</a></p>
          </div>
    {% endfor %}
    </div>


{% else %}
  <p>There are no categories available.</p>
{% endif %}   
        
{% endblock content %}
