.table-row{
    cursor:pointer;
    }

h4 { 
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 1;
    margin-right: 0;
    font-weight: bold;
    }